__pycache__
*.zip
venv/

db/
*.zip
app/
*.env
*.zip
*.exe
*.db
# */.db/
# **/.db/
*.sqlite3
*.sql
*.pgerd
.hintrc
*.hintrc
*/venv/
instance/
migrations/
.vscode/
__pycache__/
*/__pycache__/
**/__pycache__/airline_reviews.db database BACKUPP - Copy.db database BCKUPP.db database.db
er_diagram_postgre_pgadmin4.pgerd
migrations/
