<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
  <title>Main Page</title>
  <style>
    body {
      margin: 0;
      padding: 0;
      font-family: 'Arial', sans-serif;
      background-image: url("../static/images/airline_pict.jpg");
      background-size: cover;
      background-position: center;
      height: 100vh;
    }

    h1 {
      font-size: 48px;
      font-weight: bold;
      text-align: center;
      margin-top: 60px;
    }

    h3 {
      font-size: 24px;
      text-align: center;
      margin-bottom: 30px;
    }

    .container {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    form {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 10px;
    }

    select {
      width: 250px;
      height: 40px;
      font-size: 16px;
      border-radius: 10px;
      padding: 5px 10px;
    }

    button[type="submit"] {
      margin-top: 15px;
      padding: 10px 40px;
      border: none;
      border-radius: 25px;
      background-color: #b30e0e;
      color: white;
      font-size: 18px;
      font-weight: bold;
      cursor: pointer;
    }

    button[type="submit"]:hover {
      background-color: #870c0c;
    }

    .right-buttons {
      position: absolute;
      top: 50px;
      right: 50px;
      display: flex;
      flex-direction: column;
      gap: 15px;
    }

    .right-buttons form,
    .right-buttons a {
      text-align: right;
    }

    .right-buttons button {
      width: 220px;
      height: 50px;
      border-radius: 15px;
      border: 3px solid #b30e0e;
      background: transparent;
      color: #b30e0e;
      font-weight: bold;
      font-size: 16px;
      cursor: pointer;
    }

    .right-buttons button:hover {
      background-color: #b30e0e;
      color: white;
    }
  </style>
</head>
<body>
  {% extends "base.html" %}
  {% block title %}Main Page - Airline Sentiment Analysis{% endblock %}
  {% block content %}

  <h1>Analyze your favourite airline!</h1>
  <h3>Enter airline's name below</h3>

  <div class="container">
    <form action="{{ url_for('main.finalResult') }}" method="post">
      <label for="airlineName">Choose an airline!</label>
      <select name="airlineName" id="airlineName">
        <option value="AB Aviation">AB Aviation</option>
        <option value="Adria Airways">Adria Airways</option>
        <option value="Aegean Airlines">Aegean Airlines</option>
        <option value="Aer Lingus">Aer Lingus</option>
        <option value="Aero VIP">Aero VIP</option>
        <option value="Aerocaribbean">Aerocaribbean</option>
        <option value="Aeroflot Russian Airlines">Aeroflot Russian Airlines</option>
        <option value="AeroItalia">AeroItalia</option>
        <option value="Aerolineas Argentinas">Aerolineas Argentinas</option>
        <option value="Aeromar">Aeromar</option>
        <option value="Aeromexico">Aeromexico</option>
        <option value="Aerosur">Aerosur</option>
        <option value="Africa World Airlines">Africa World Airlines</option>
        <option value="Afriqiyah Airways">Afriqiyah Airways</option>
        <option value="Aigle Azur">Aigle Azur</option>
        <option value="Air Algerie">Air Algerie</option>
        <option value="Air Antilles">Air Antilles</option>
        <option value="Air Arabia">Air Arabia</option>
        <option value="Air Astana">Air Astana</option>
        <option value="Air Austral">Air Austral</option>
        <option value="Air Bagan">Air Bagan</option>
        <option value="Air Belgium">Air Belgium</option>
        <option value="Air Berlin">Air Berlin</option>
        <option value="Air Botswana">Air Botswana</option>
        <option value="Air Burkina">Air Burkina</option>
        <option value="Air Busan">Air Busan</option>
        <option value="Air Cairo">Air Cairo</option>
        <option value="Air Canada">Air Canada</option>
        <option value="Air Canada rouge">Air Canada rouge</option>
        <option value="Air Caraibes">Air Caraibes</option>
        <option value="Air China">Air China</option>
        <option value="Air Corsica">Air Corsica</option>
        <option value="Air Costa">Air Costa</option>
        <option value="Air Cote d'Ivoire">Air Cote d'Ivoire</option>
        <option value="Air Djibouti">Air Djibouti</option>
        <option value="Air Dolomiti">Air Dolomiti</option>
        <option value="Air Europa">Air Europa</option>
        <option value="Air France">Air France</option>
        <option value="Air Greenland">Air Greenland</option>
        <option value="Air Iceland Connect">Air Iceland Connect</option>
        <option value="Air India">Air India</option>
        <option value="Air India Express">Air India Express</option>
        <option value="Air Italy">Air Italy</option>
        <option value="Air Juan">Air Juan</option>
        <option value="Air KBZ">Air KBZ</option>
        <option value="Air Koryo">Air Koryo</option>
        <option value="Air Labrador">Air Labrador</option>
        <option value="Air Macau">Air Macau</option>
        <option value="Air Madagascar">Air Madagascar</option>
        <option value="Air Malawi">Air Malawi</option>
        <option value="Air Malta">Air Malta</option>
        <option value="Air Mauritius">Air Mauritius</option>
        <option value="Air Mediterranee">Air Mediterranee</option>
        <option value="Air Memphis">Air Memphis</option>
        <option value="Air Moldova">Air Moldova</option>
        <option value="Air Montenegro">Air Montenegro</option>
        <option value="Air Namibia">Air Namibia</option>
        <option value="Air New Zealand">Air New Zealand</option>
        <option value="Air Niugini">Air Niugini</option>
        <option value="Air North Yukon's Airline">Air North Yukon's Airline</option>
        <option value="Air Nostrum">Air Nostrum</option>
        <option value="Air Panama">Air Panama</option>
        <option value="Air Pegasus">Air Pegasus</option>
        <option value="Air Premia">Air Premia</option>
        <option value="Air Rarotonga">Air Rarotonga</option>
        <option value="Air Senegal">Air Senegal</option>
        <option value="Air Serbia">Air Serbia</option>
        <option value="Air Seychelles">Air Seychelles</option>
        <option value="Air Tahiti Nui">Air Tahiti Nui</option>
        <option value="Air Tanzania">Air Tanzania</option>
        <option value="Air Transat">Air Transat</option>
        <option value="Air Vanuatu">Air Vanuatu</option>
        <option value="Air Zimbabwe">Air Zimbabwe</option>
        <option value="AirAsia">AirAsia</option>
        <option value="AirAsia India">AirAsia India</option>
        <option value="AirAsia Philippines">AirAsia Philippines</option>
        <option value="AirAsia X">AirAsia X</option>
        <option value="AirAsia Zest">AirAsia Zest</option>
        <option value="airBaltic">airBaltic</option>
        <option value="airblue">airblue</option>
        <option value="Aircalin">Aircalin</option>
        <option value="AirConnect">AirConnect</option>
        <option value="AIRDO">AIRDO</option>
        <option value="Airlink">Airlink</option>
        <option value="Airnorth">Airnorth</option>
        <option value="AirSWIFT">AirSWIFT</option>
        <option value="AJet">AJet</option>
        <option value="Akasa Air">Akasa Air</option>
        <option value="Alaska Airlines">Alaska Airlines</option>
        <option value="Alitalia">Alitalia</option>
        <option value="Allegiant Air">Allegiant Air</option>
        <option value="Alliance Air">Alliance Air</option>
        <option value="Alliance Airlines">Alliance Airlines</option>
        <option value="Amaszonas">Amaszonas</option>
        <option value="American Airlines">American Airlines</option>
        <option value="American Eagle">American Eagle</option>
        <option value="ANA All Nippon Airways">ANA All Nippon Airways</option>
        <option value="AnadoluJet">AnadoluJet</option>
        <option value="Andes Líneas Aéreas">Andes Líneas Aéreas</option>
        <option value="Arajet">Arajet</option>
        <option value="Ariana Afghan Airlines">Ariana Afghan Airlines</option>
        <option value="Arik Air">Arik Air</option>
        <option value="Arkefly">Arkefly</option>
        <option value="Arkia Israeli Airlines">Arkia Israeli Airlines</option>
        <option value="Armenia Air Company">Armenia Air Company</option>
        <option value="Armenian Airlines">Armenian Airlines</option>
        <option value="Asiana Airlines">Asiana Airlines</option>
        <option value="ASKY Airlines">ASKY Airlines</option>
        <option value="ATA Airlines">ATA Airlines</option>
        <option value="Atlantic Airways">Atlantic Airways</option>
        <option value="Atlasglobal">Atlasglobal</option>
        <option value="Auric Air">Auric Air</option>
        <option value="Aurigny Air">Aurigny Air</option>
        <option value="Austrian Airlines">Austrian Airlines</option>
        <option value="Avelo Airlines">Avelo Airlines</option>
        <option value="Avianca">Avianca</option>
        <option value="Avianca Brazil">Avianca Brazil</option>
        <option value="Avianca Ecuador">Avianca Ecuador</option>
        <option value="Avior Airlines">Avior Airlines</option>
        <option value="Azerbaijan Airlines">Azerbaijan Airlines</option>
        <option value="Azul Airlines">Azul Airlines</option>
        <option value="Azur Air Germany">Azur Air Germany</option>
        <option value="BA CityFlyer">BA CityFlyer</option>
        <option value="Badr Airlines">Badr Airlines</option>
        <option value="Bahamasair">Bahamasair</option>
        <option value="Bamboo Airways">Bamboo Airways</option>
        <option value="Bangkok Airways">Bangkok Airways</option>
        <option value="Bassaka Air">Bassaka Air</option>
        <option value="Batik Air">Batik Air</option>
        <option value="Beijing Capital Airlines">Beijing Capital Airlines</option>
        <option value="Belavia">Belavia</option>
        <option value="Berjaya Air">Berjaya Air</option>
        <option value="BH Air">BH Air</option>
        <option value="Bhutan Airlines">Bhutan Airlines</option>
        <option value="Biman Bangladesh Airlines">Biman Bangladesh Airlines</option>
        <option value="Binter Canarias">Binter Canarias</option>
        <option value="Blu-express">Blu-express</option>
        <option value="Blue Air">Blue Air</option>
        <option value="Blue Islands">Blue Islands</option>
        <option value="Blue Panorama Airlines">Blue Panorama Airlines</option>
        <option value="Blue1">Blue1</option>
        <option value="Bluebird Airways">Bluebird Airways</option>
        <option value="bmi Regional">bmi Regional</option>
        <option value="Boliviana de Aviacion">Boliviana de Aviacion</option>
        <option value="BoraJet">BoraJet</option>
        <option value="Boutique Air">Boutique Air</option>
        <option value="Breeze Airways">Breeze Airways</option>
        <option value="British Airways">British Airways</option>
        <option value="Brussels Airlines">Brussels Airlines</option>
        <option value="Buddha Air">Buddha Air</option>
        <option value="Bulgaria Air">Bulgaria Air</option>
        <option value="Buraq Air">Buraq Air</option>
        <option value="Buta Airways">Buta Airways</option>
        <option value="Camair-Co">Camair-Co</option>
        <option value="Cambodia Airways">Cambodia Airways</option>
        <option value="Cambodia Angkor Air">Cambodia Angkor Air</option>
        <option value="Cambodia Bayon Airlines">Cambodia Bayon Airlines</option>
        <option value="Canadian North">Canadian North</option>
        <option value="Canaryfly">Canaryfly</option>
        <option value="Cape Air">Cape Air</option>
        <option value="Caribbean Airlines">Caribbean Airlines</option>
        <option value="Carpatair">Carpatair</option>
        <option value="Cathay Dragon">Cathay Dragon</option>
        <option value="Cathay Pacific Airways">Cathay Pacific Airways</option>
        <option value="Cayman Airways">Cayman Airways</option>
        <option value="Cebu Pacific">Cebu Pacific</option>
        <option value="CemAir">CemAir</option>
        <option value="Central Mountain Air">Central Mountain Air</option>
        <option value="China Airlines">China Airlines</option>
        <option value="China Eastern Airlines">China Eastern Airlines</option>
        <option value="China Southern Airlines">China Southern Airlines</option>
        <option value="China United Airlines">China United Airlines</option>
        <option value="Citilink">Citilink</option>
        <option value="CityJet">CityJet</option>
        <option value="Coastal Aviation">Coastal Aviation</option>
        <option value="Cobalt">Cobalt</option>
        <option value="Comair">Comair</option>
        <option value="Condor Airlines">Condor Airlines</option>
        <option value="Contour Airlines">Contour Airlines</option>
        <option value="Conviasa">Conviasa</option>
        <option value="Copa Airlines">Copa Airlines</option>
        <option value="Corendon Airlines">Corendon Airlines</option>
        <option value="Corsair">Corsair</option>
        <option value="Croatia Airlines">Croatia Airlines</option>
        <option value="CSA Czech Airlines">CSA Czech Airlines</option>
        <option value="Cubana Airlines">Cubana Airlines</option>
        <option value="Cyprus Airways">Cyprus Airways</option>
        <option value="Danish Air Transport">Danish Air Transport</option>
        <option value="Darwin Airline">Darwin Airline</option>
        <option value="Delta Air Lines">Delta Air Lines</option>
        <option value="Dimonim Air">Dimonim Air</option>
        <option value="Discover Airlines">Discover Airlines</option>
        <option value="Dniproavia">Dniproavia</option>
        <option value="Dragonair">Dragonair</option>
        <option value="Druk Air">Druk Air</option>
        <option value="Dynamic International Airways">Dynamic International Airways</option>
        <option value="Eastar Jet">Eastar Jet</option>
        <option value="Eastern Airlines">Eastern Airlines</option>
        <option value="Eastern Airways">Eastern Airways</option>
        <option value="Easyfly">Easyfly</option>
        <option value="easyJet">easyJet</option>
        <option value="Edelweiss Air">Edelweiss Air</option>
        <option value="Egyptair">Egyptair</option>
        <option value="El Al Israel Airlines">El Al Israel Airlines</option>
        <option value="Ellinair">Ellinair</option>
        <option value="Emirates">Emirates</option>
        <option value="Eritrean Airlines">Eritrean Airlines</option>
        <option value="Ernest Airlines">Ernest Airlines</option>
        <option value="Estonian Air">Estonian Air</option>
        <option value="Eswatini Air">Eswatini Air</option>
        <option value="Ethiopian Airlines">Ethiopian Airlines</option>
        <option value="Etihad Airways">Etihad Airways</option>
        <option value="euroAtlantic Airways">euroAtlantic Airways</option>
        <option value="Europe Airpost">Europe Airpost</option>
        <option value="Eurowings">Eurowings</option>
        <option value="EVA Air">EVA Air</option>
        <option value="Evelop Airlines">Evelop Airlines</option>
        <option value="EWA Air">EWA Air</option>
        <option value="Ravn Alaska">Ravn Alaska</option>
        <option value="Far Eastern Air Transport">Far Eastern Air Transport</option>
        <option value="fastjet">fastjet</option>
        <option value="Felix Airways">Felix Airways</option>
        <option value="Fiji Airways">Fiji Airways</option>
        <option value="Finnair">Finnair</option>
        <option value="Firefly">Firefly</option>
        <option value="Flair Airlines">Flair Airlines</option>
        <option value="Fly540.com">Fly540.com</option>
        <option value="flyadeal">flyadeal</option>
        <option value="FlyArystan">FlyArystan</option>
        <option value="flybe">flybe</option>
        <option value="flybondi">flybondi</option>
        <option value="flydubai">flydubai</option>
        <option value="Flynas">Flynas</option>
        <option value="FLYONE">FLYONE</option>
        <option value="FlySafair">FlySafair</option>
        <option value="FMI Air">FMI Air</option>
        <option value="Freebird Airlines">Freebird Airlines</option>
        <option value="French Bee">French Bee</option>
        <option value="Frontier Airlines">Frontier Airlines</option>
        <option value="Fuji Dream Airlines">Fuji Dream Airlines</option>
        <option value="Garuda Indonesia">Garuda Indonesia</option>
        <option value="Georgian Airways">Georgian Airways</option>
        <option value="Germania Airline">Germania Airline</option>
        <option value="Germanwings">Germanwings</option>
        <option value="Go First">Go First</option>
        <option value="GoAir">GoAir</option>
        <option value="Gol Transportes Aéreos">Gol Transportes Aéreos</option>
        <option value="Golden Myanmar Airlines">Golden Myanmar Airlines</option>
        <option value="Grand Cru Airlines">Grand Cru Airlines</option>
        <option value="Greater Bay Airlines">Greater Bay Airlines</option>
        <option value="Gulf Air">Gulf Air</option>
        <option value="Hainan Airlines">Hainan Airlines</option>
        <option value="Hawaiian Airlines">Hawaiian Airlines</option>
        <option value="Helvetic Airways">Helvetic Airways</option>
        <option value="Henan Airlines">Henan Airlines</option>
        <option value="Hi Fly">Hi Fly</option>
        <option value="Himalaya Airlines">Himalaya Airlines</option>
        <option value="HiSky">HiSky</option>
        <option value="HK Express">HK Express</option>
        <option value="Hong Kong Airlines">Hong Kong Airlines</option>
        <option value="HOP!">HOP!</option>
        <option value="Horizon Air">Horizon Air</option>
        <option value="Hunnu Air">Hunnu Air</option>
        <option value="Iberia">Iberia</option>
        <option value="Iberia Express">Iberia Express</option>
        <option value="Iberojet">Iberojet</option>
        <option value="Icelandair">Icelandair</option>
        <option value="IndiGo">IndiGo</option>
        <option value="Insel Air">Insel Air</option>
        <option value="Intercaribbean Airways">Intercaribbean Airways</option>
        <option value="Interjet">Interjet</option>
        <option value="InterSky">InterSky</option>
        <option value="Iran Air">Iran Air</option>
        <option value="Iran Aseman Airlines">Iran Aseman Airlines</option>
        <option value="Iraqi Airways">Iraqi Airways</option>
        <option value="Island Air">Island Air</option>
        <option value="Israir Airlines">Israir Airlines</option>
        <option value="ITA Airways">ITA Airways</option>
        <option value="Japan Airlines">Japan Airlines</option>
        <option value="Jazeera Airways">Jazeera Airways</option>
        <option value="Jazz">Jazz</option>
        <option value="JC International Airlines">JC International Airlines</option>
        <option value="Jeju Air">Jeju Air</option>
        <option value="Jet Airways">Jet Airways</option>
        <option value="Jet2.com">Jet2.com</option>
        <option value="Jetairfly">Jetairfly</option>
        <option value="Jetblue Airways">Jetblue Airways</option>
        <option value="JetSmart">JetSmart</option>
        <option value="Jetstar Airways">Jetstar Airways</option>
        <option value="Jetstar Asia">Jetstar Asia</option>
        <option value="Jetstar Japan">Jetstar Japan</option>
        <option value="Jetstar Pacific">Jetstar Pacific</option>
        <option value="JetsuiteX">JetsuiteX</option>
        <option value="Jin Air">Jin Air</option>
        <option value="Joon">Joon</option>
        <option value="Jordan Aviation">Jordan Aviation</option>
        <option value="Juneyao Air">Juneyao Air</option>
        <option value="Kam Air">Kam Air</option>
        <option value="Kan Air">Kan Air</option>
        <option value="Karthago Airlines">Karthago Airlines</option>
        <option value="KD Air">KD Air</option>
        <option value="Kenya Airways">Kenya Airways</option>
        <option value="Kish Airlines">Kish Airlines</option>
        <option value="KLM Royal Dutch Airlines">KLM Royal Dutch Airlines</option>
        <option value="KM Malta Airlines">KM Malta Airlines</option>
        <option value="Korean Air">Korean Air</option>
        <option value="Kulula">Kulula</option>
        <option value="Kuwait Airways">Kuwait Airways</option>
        <option value="La Compagnie">La Compagnie</option>
        <option value="LAM Mozambique">LAM Mozambique</option>
        <option value="LAN Airlines">LAN Airlines</option>
        <option value="LAN Colombia">LAN Colombia</option>
        <option value="LAN Peru">LAN Peru</option>
        <option value="Lao Airlines">Lao Airlines</option>
        <option value="Lao Skyway">Lao Skyway</option>
        <option value="LATAM Airlines">LATAM Airlines</option>
        <option value="Laudamotion">Laudamotion</option>
        <option value="LC Perú">LC Perú</option>
        <option value="Level">Level</option>
        <option value="LIAT">LIAT</option>
        <option value="Libyan Airlines">Libyan Airlines</option>
        <option value="Lion Air">Lion Air</option>
        <option value="Loch Lomond Seaplanes">Loch Lomond Seaplanes</option>
        <option value="Loganair">Loganair</option>
        <option value="LOT Polish Airlines">LOT Polish Airlines</option>
        <option value="Lubeck Air">Lubeck Air</option>
        <option value="Lucky Air">Lucky Air</option>
        <option value="Lufthansa">Lufthansa</option>
        <option value="Luxair">Luxair</option>
        <option value="Lynx Air">Lynx Air</option>
        <option value="Mack Air">Mack Air</option>
        <option value="Madagasikara Airways">Madagasikara Airways</option>
        <option value="Mahan Air">Mahan Air</option>
        <option value="Malawian Airlines">Malawian Airlines</option>
        <option value="Malaysia Airlines">Malaysia Airlines</option>
        <option value="Maldivian">Maldivian</option>
        <option value="Malindo Air">Malindo Air</option>
        <option value="Malmo Aviation">Malmo Aviation</option>
        <option value="Mandarin Airlines">Mandarin Airlines</option>
        <option value="Mango Airlines">Mango Airlines</option>
        <option value="Mann Yadanarpon Airlines">Mann Yadanarpon Airlines</option>
        <option value="Manta Air">Manta Air</option>
        <option value="Martinair">Martinair</option>
        <option value="Mauritania Airlines">Mauritania Airlines</option>
        <option value="Maya Island Air">Maya Island Air</option>
        <option value="MAYAir">MAYAir</option>
        <option value="MEGA Maldives Airlines">MEGA Maldives Airlines</option>
        <option value="Meridiana">Meridiana</option>
        <option value="MIAT Mongolian Airlines">MIAT Mongolian Airlines</option>
        <option value="Middle East Airlines">Middle East Airlines</option>
        <option value="Mihin Lanka">Mihin Lanka</option>
        <option value="Mokulele Airlines">Mokulele Airlines</option>
        <option value="Moldavian Airlines">Moldavian Airlines</option>
        <option value="Monarch Airlines">Monarch Airlines</option>
        <option value="Montenegro Airlines">Montenegro Airlines</option>
        <option value="Motor Sich Airlines">Motor Sich Airlines</option>
        <option value="Myanmar Airways">Myanmar Airways</option>
        <option value="Myanmar National Airlines">Myanmar National Airlines</option>
        <option value="NAM Air">NAM Air</option>
        <option value="Nature Air">Nature Air</option>
        <option value="Nauru Airlines">Nauru Airlines</option>
        <option value="Nepal Airlines">Nepal Airlines</option>
        <option value="New Pacific Airlines">New Pacific Airlines</option>
        <option value="NextJet">NextJet</option>
        <option value="NIKI">NIKI</option>
        <option value="Nile Air">Nile Air</option>
        <option value="Nok Air">Nok Air</option>
        <option value="NokScoot">NokScoot</option>
        <option value="Nordavia">Nordavia</option>
        <option value="Nordic Regional Airlines">Nordic Regional Airlines</option>
        <option value="Nordica">Nordica</option>
        <option value="NordStar">NordStar</option>
        <option value="Nordwind Airlines">Nordwind Airlines</option>
        <option value="Norse Atlantic Airways">Norse Atlantic Airways</option>
        <option value="Norwegian">Norwegian</option>
        <option value="Nouvelair">Nouvelair</option>
        <option value="Novair">Novair</option>
        <option value="Novoair">Novoair</option>
        <option value="Okay Airways">Okay Airways</option>
        <option value="Olympic Air">Olympic Air</option>
        <option value="Oman Air">Oman Air</option>
        <option value="Omni Air International">Omni Air International</option>
        <option value="Onur Air">Onur Air</option>
        <option value="Openskies">Openskies</option>
        <option value="Orient Thai Airlines">Orient Thai Airlines</option>
        <option value="Pacific Airlines">Pacific Airlines</option>
        <option value="Pakistan Intl Airlines">Pakistan Intl Airlines</option>
        <option value="PAL Express">PAL Express</option>
        <option value="Pan Pacific Airlines">Pan Pacific Airlines</option>
        <option value="Passaredo">Passaredo</option>
        <option value="Passion Air">Passion Air</option>
        <option value="PAWA Dominicana">PAWA Dominicana</option>
        <option value="Peach Aviation">Peach Aviation</option>
        <option value="Pegasus Airlines">Pegasus Airlines</option>
        <option value="Pelita Air">Pelita Air</option>
        <option value="PenAir">PenAir</option>
        <option value="Peruvian Airlines">Peruvian Airlines</option>
        <option value="Petroleum Air Services">Petroleum Air Services</option>
        <option value="Philippine Airlines">Philippine Airlines</option>
        <option value="Phuket Air">Phuket Air</option>
        <option value="PLAY">PLAY</option>
        <option value="Pobeda Airlines">Pobeda Airlines</option>
        <option value="Porter Airlines">Porter Airlines</option>
        <option value="Precision Air">Precision Air</option>
        <option value="Primera Air">Primera Air</option>
        <option value="Privilege Style">Privilege Style</option>
        <option value="Qantas Airways">Qantas Airways</option>
        <option value="QantasLink">QantasLink</option>
        <option value="Qatar Airways">Qatar Airways</option>
        <option value="Qazaq Air">Qazaq Air</option>
        <option value="Ravn Alaska">Ravn Alaska</option>
        <option value="Red Wings Airlines">Red Wings Airlines</option>
        <option value="Regent Airways">Regent Airways</option>
        <option value="Regional Express">Regional Express</option>
        <option value="Rex Airlines">Rex Airlines</option>
        <option value="Rhein-Neckar Air">Rhein-Neckar Air</option>
        <option value="Rossiya Airlines">Rossiya Airlines</option>
        <option value="Royal Air Maroc">Royal Air Maroc</option>
        <option value="Royal Brunei Airlines">Royal Brunei Airlines</option>
        <option value="Royal Jordanian Airlines">Royal Jordanian Airlines</option>
        <option value="Rwandair">Rwandair</option>
        <option value="Ryanair">Ryanair</option>
        <option value="S7 Siberia Airlines">S7 Siberia Airlines</option>
        <option value="SA Express">SA Express</option>
        <option value="Safarilink">Safarilink</option>
        <option value="Safi Airways">Safi Airways</option>
        <option value="Salam Air">Salam Air</option>
        <option value="Sansa Airlines">Sansa Airlines</option>
        <option value="Santa Barbara Airlines">Santa Barbara Airlines</option>
        <option value="SAS Scandinavian">SAS Scandinavian</option>
        <option value="SATA Air Azores">SATA Air Azores</option>
        <option value="SATA International">SATA International</option>
        <option value="SATENA">SATENA</option>
        <option value="Saudi Arabian Airlines">Saudi Arabian Airlines</option>
        <option value="SCAT Airlines">SCAT Airlines</option>
        <option value="Scoot">Scoot</option>
        <option value="Seaborne Airlines">Seaborne Airlines</option>
        <option value="SereneAir">SereneAir</option>
        <option value="Shaheen Air">Shaheen Air</option>
        <option value="Shandong Airlines">Shandong Airlines</option>
        <option value="Shanghai Airlines">Shanghai Airlines</option>
        <option value="Shenzhen Airlines">Shenzhen Airlines</option>
        <option value="Sichuan Airlines">Sichuan Airlines</option>
        <option value="SilkAir">SilkAir</option>
        <option value="Silver Airways">Silver Airways</option>
        <option value="Singapore Airlines">Singapore Airlines</option>
        <option value="Sky Airline">Sky Airline</option>
        <option value="Sky Express Airlines">Sky Express Airlines</option>
        <option value="Skybus">Skybus</option>
        <option value="Skymark Airlines">Skymark Airlines</option>
        <option value="Skytrans Airlines">Skytrans Airlines</option>
        <option value="SkyUp Airlines">SkyUp Airlines</option>
        <option value="SkyWest Airlines">SkyWest Airlines</option>
        <option value="SkyWork Airlines">SkyWork Airlines</option>
        <option value="Small Planet Airlines">Small Planet Airlines</option>
        <option value="Smartavia">Smartavia</option>
        <option value="SmartLynx Airlines">SmartLynx Airlines</option>
        <option value="SmartWings">SmartWings</option>
        <option value="Sol Líneas Aéreas">Sol Líneas Aéreas</option>
        <option value="Solomon Airlines">Solomon Airlines</option>
        <option value="Somon Air">Somon Air</option>
        <option value="South African Airways">South African Airways</option>
        <option value="Southern Airways Express">Southern Airways Express</option>
        <option value="Southwest Airlines">Southwest Airlines</option>
        <option value="SpiceJet">SpiceJet</option>
        <option value="Spirit Airlines">Spirit Airlines</option>
        <option value="Spring Airlines">Spring Airlines</option>
        <option value="SriLankan Airlines">SriLankan Airlines</option>
        <option value="Sriwijaya Air">Sriwijaya Air</option>
        <option value="Star Peru">Star Peru</option>
        <option value="StarFlyer">StarFlyer</option>
        <option value="STARLUX Airlines">STARLUX Airlines</option>
        <option value="Sudan Airways">Sudan Airways</option>
        <option value="Sun Country Airlines">Sun Country Airlines</option>
        <option value="Sun-Air">Sun-Air</option>
        <option value="SunExpress">SunExpress</option>
        <option value="Sunwing Airlines">Sunwing Airlines</option>
        <option value="Suparna Airlines">Suparna Airlines</option>
        <option value="Super Air Jet">Super Air Jet</option>
        <option value="Surinam Airways">Surinam Airways</option>
        <option value="SVG Air">SVG Air</option>
        <option value="Swiss Intl Air Lines">Swiss Intl Air Lines</option>
        <option value="Swoop">Swoop</option>
        <option value="SyrianAir">SyrianAir</option>
        <option value="T'Way Air">T'Way Air</option>
        <option value="TAAG Angola Airlines">TAAG Angola Airlines</option>
        <option value="TACA Airlines">TACA Airlines</option>
        <option value="TACA Regional">TACA Regional</option>
        <option value="TACV Cabo Verde Airlines">TACV Cabo Verde Airlines</option>
        <option value="TAG Airlines">TAG Airlines</option>
        <option value="Tailwind Airlines">Tailwind Airlines</option>
        <option value="Tajik Air">Tajik Air</option>
        <option value="TAM Airlines">TAM Airlines</option>
        <option value="TAME">TAME</option>
        <option value="Tame Línea Aérea Del Ecuador">Tame Línea Aérea Del Ecuador</option>
        <option value="TAP Portugal">TAP Portugal</option>
        <option value="TAR Aerolineas">TAR Aerolineas</option>
        <option value="TAROM Romanian">TAROM Romanian</option>
        <option value="Thai AirAsia">Thai AirAsia</option>
        <option value="Thai Airways">Thai Airways</option>
        <option value="Thai Lion Air">Thai Lion Air</option>
        <option value="Thai Smile Airways">Thai Smile Airways</option>
        <option value="Thomas Cook Airlines">Thomas Cook Airlines</option>
        <option value="Thomas Cook Airlines Belgium">Thomas Cook Airlines Belgium</option>
        <option value="Thomas Cook Airlines Scandinavia">Thomas Cook Airlines Scandinavia</option>
        <option value="Thomson Airways">Thomson Airways</option>
        <option value="Tianjin Airlines">Tianjin Airlines</option>
        <option value="Tibet Airlines">Tibet Airlines</option>
        <option value="Tigerair">Tigerair</option>
        <option value="Tigerair Australia">Tigerair Australia</option>
        <option value="Tigerair Taiwan">Tigerair Taiwan</option>
        <option value="Titan Airways">Titan Airways</option>
        <option value="Transaero Airlines">Transaero Airlines</option>
        <option value="TransAsia Airways">TransAsia Airways</option>
        <option value="Transavia">Transavia</option>
        <option value="TransNusa">TransNusa</option>
        <option value="Trigana Air">Trigana Air</option>
        <option value="Tropic Air Belize">Tropic Air Belize</option>
        <option value="TUI Airways">TUI Airways</option>
        <option value="TUIfly">TUIfly</option>
        <option value="TUIfly Nordic">TUIfly Nordic</option>
        <option value="Tunisair">Tunisair</option>
        <option value="Turkish Airlines">Turkish Airlines</option>
        <option value="Turkmenistan Airlines">Turkmenistan Airlines</option>
        <option value="TUS Airways">TUS Airways</option>
        <option value="Uganda Airlines">Uganda Airlines</option>
        <option value="Ukraine International">Ukraine International</option>
        <option value="Ultra Air">Ultra Air</option>
        <option value="United Airlines">United Airlines</option>
        <option value="UP by El Al">UP by El Al</option>
        <option value="Ural Airlines">Ural Airlines</option>
        <option value="US Airways">US Airways</option>
        <option value="US-Bangla Airlines">US-Bangla Airlines</option>
        <option value="Utair Aviation">Utair Aviation</option>
        <option value="Uzbekistan Airways">Uzbekistan Airways</option>
        <option value="V Air">V Air</option>
        <option value="Vanilla Air">Vanilla Air</option>
        <option value="ViaAir">ViaAir</option>
        <option value="VietJet Air">VietJet Air</option>
        <option value="Vietnam Airlines">Vietnam Airlines</option>
        <option value="Virgin America">Virgin America</option>
        <option value="Virgin Atlantic">Virgin Atlantic</option>
        <option value="Virgin Australia">Virgin Australia</option>
        <option value="Vistara">Vistara</option>
        <option value="Viva Air">Viva Air</option>
        <option value="VivaAerobús">VivaAerobús</option>
        <option value="VivaColombia">VivaColombia</option>
        <option value="VLM Airlines">VLM Airlines</option>
        <option value="Volaris">Volaris</option>
        <option value="Volotea">Volotea</option>
        <option value="Voyage Air">Voyage Air</option>
        <option value="Vueling Airlines">Vueling Airlines</option>
        <option value="Wamos Air">Wamos Air</option>
        <option value="WestJet Airlines">WestJet Airlines</option>
        <option value="Wideroe">Wideroe</option>
        <option value="Winair">Winair</option>
        <option value="Wingo">Wingo</option>
        <option value="Wings Air">Wings Air</option>
        <option value="Wizz Air">Wizz Air</option>
        <option value="World2Fly">World2Fly</option>
        <option value="WOW air">WOW air</option>
        <option value="Xiamen Airlines">Xiamen Airlines</option>
        <option value="XL Airways France">XL Airways France</option>
        <option value="Yakutia Airlines">Yakutia Airlines</option>
        <option value="Yangon Airways">Yangon Airways</option>
        <option value="Yemenia">Yemenia</option>
        <option value="Yeti Airlines">Yeti Airlines</option>
        <option value="Zambia Airways">Zambia Airways</option>
        <option value="ZIPAIR">ZIPAIR</option>
      </select>

      <label for="selectSentiment">Select the sentiment!</label>
      <select name="selectSentiment" id="selectSentiment">
        <option value="Positive">Positive</option>
        <option value="Negative">Negative</option>
      </select>

      <button type="submit">analyze</button>
    </form>
  </div>

  <div class="right-buttons">
    <form action="{{ url_for('main.index_rus') }}" method="post">
      <button type="submit">Russian Version</button>
    </form>
    <a href="{{ url_for('main.view_saved_charts') }}">
      <button type="button">Saved Charts</button>
    </a>
    <a href="{{ url_for('main.view_detailed_visualizations') }}">
      <button type="button">Detail Visualization</button>
    </a>
    <a href="{{ url_for('main.timeline') }}">
      <button type="button">Timeline Visualization</button>
    </a>
    <form action="{{ url_for('main.history') }}" method="post">
      <button type="submit">History</button>
    </form>
  </div>

  {% endblock %}
</body>
</html>
