<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='css/rulesStyle.css')}}"
    />
    <title>Rules</title>
  </head>
  <body>
    <div class="square"></div>
    <div class="triangle"></div>

    <div class="text-container">
    <h1>Rules</h1><br>
        <p>
            <span class="bold-text">
              Here are the important rules that users must pay attention to when
              entering the name of the airline to avoid mistakes and get the expected
              results:
              <br /><br />
              1. Make sure to write the airline's name correctly and according to the
              specified format. <br />
              Example: "Air France" (CORRECT), "airfrance" (INCORRECT). <br />
              Example: "AirAsia" (CORRECT), "air asia" (INCORRECT). <br /><br />
      
              2. Avoid using spaces or additional characters when writing the
              airline's name. <br />
              Example: "AirFrance" (CORRECT), "Air France" (INCORRECT). <br /><br />
      
              3. Pay attention to the capitalization of letters and lowercase letters
              in each word of the airline's name. <br />
              Example: "Singapore Airlines" (CORRECT), "singapore airlines"
              (INCORRECT). <br />
              <br />
      
              By following the above rules, users will obtain accurate analysis
              results that meet their expectations. <br />
            </span>
      
            <!-- UNTUK MASUKIN NAMA AIRLINES NYA, NTAR DI WEBSITE HARUS DI PERINGATIN DULU, <br>
              SUPAYA NULIS NAMA AIRLINESNYA GAK SALAH <br>
              CONTOH: air france BETUL,, airfrance SALAH <br>
              CONTOH: air asia SALAH,, airasia BENAR <br> -->
          </p>
      
          <a href="{{ url_for('main.index') }}" class="back-to-main-button"
            >Back to Main Page</a
          >
    </div>

  </body>
</html>
