<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Timeline Visualization</title>
    <style>
        .button {
            display: inline-block;
            padding: 8px 16px;
            background-color: #007bff;
            color: white;
            text-decoration: none;
            border-radius: 4px;
            border: none;
            cursor: pointer;
        }
    </style>
</head>
<body>
    <h1>Airline Review Timeline Analysis</h1>
    
    <!-- Tampilkan grafik -->
    <img src="data:image/png;base64,{{ image }}" alt="Sentiment Timeline">

    <form method="get" action="{{ url_for('main.timeline') }}">
        <button type="submit" style="padding: 10px 20px; background-color: #4CAF50; color: white; border: none; border-radius: 5px;">
            🔄 Refresh Page
        </button>
    </form>
    

    {% if review_counts %}
    <h1>Описание визуализации данных</h1>
    <p>
        <!-- Saat ini, anda telah melakukan analisa beberapa maskapai, dengan total {{ review_counts|length }} maskapai, -->
        На данный момент вы проанализировали несколько авиакомпаний, всего {{ review_counts|length }} авиакомпаний,
        Из всех этих данных, вот порядок количества отзывов от большего к меньшему:
        <!-- yang mana dari semua data ini, berikut adalah urutan banyaknya reviews dari terbanyak hingga paling sedikit: -->
    </p>
        <ol>
            {% for airline, count in review_counts %}
                <li>{{ airline }}: {{ count }} данных</li>
            {% endfor %}
        </ol>
    <p>
        <!-- Maskapai dengan jumlah review terbanyak adalah <strong>{{ review_counts[0][0] }}</strong> dengan {{ review_counts[0][1] }} data.<br> -->
        Авиакомпания с наибольшим количеством отзывов — <strong>{{ review_counts[0][0] }}</strong> с данными {{ review_counts[0][1] }}.<br>
        <!-- Maskapai dengan jumlah review paling sedikit adalah <strong>{{ review_counts[-1][0] }}</strong> dengan {{ review_counts[-1][1] }} data. -->
        Авиакомпания с наименьшим количеством отзывов — <strong>{{ review_counts[-1][0] }}</strong> с данными {{ review_counts[-1][1] }}.
    </p>
    {% else %}
        <p>Tidak ada data review yang ditemukan.</p>
    {% endif %}

    
    <!-- Tombol kembali -->
    <br><br>
    <a href="{{ url_for('main.history') }}" class="button">Go to History</a>
    <br><br>
    <a href="{{ url_for('main.index') }}" class="button">Back to Main Page</a>

</body>
</html> 